
*.csv
*.xlsx
ml_camp/audio.hdf5
mlflow/venv
Data_Analytics/Data
*.zip
.env
.venv
genAI/RAG/rag_app/chroma/
genAI/RAG/rag_app/data/
genAI/RAG/embeddingAPP/eap-venv
bootcamp/data
bootcamp/notebooks/datasets
*.pyc